{% spaceless %}
<div id="{{ tab_id }}">

<table border="0" cellspacing="1" cellpadding="0" class="gostedu-api" gostedu-api="{api:'ui.list_table'}">
  <caption class="f14"><strong>幻灯片列表</strong>
  {% if is_permitted('picshow', 2) %}
    <a href="{{ path('gsm_picshow_add') }}" class="gostedu-api" gostedu-api="{api:'cp.form_dialog',args:{title:'添加幻灯片',refresh:'#{{ tab_id }}',srcurl:'{{ path('gsm_picshow') }}'}}">添加幻灯片</a>
  {% endif %}
  </caption>
   <thead>
       <tr>
           <th>ID</th>
           <th>图片</th>
           <th>URL</th>
           <th>操作</th>
       </tr>
   </thead>
   <tbody>
   {% for picshow in picshow_list %}
       <tr class="datarow_{{ loop.index0 % 2 + 1 }}" data-tt-id="{{ picshow.id }}"> 
            <td>{{ picshow.id }}</td>
            <td>{{ picshow.image }}</td>
            <td>{{ picshow.url }}</td>
            <td class="action_column">
            {% if is_permitted('picshow', 4) %}
              <a href="{{ path('gsm_picshow_edit', { id: picshow.id }) }}" class="gostedu-api" gostedu-api="{api:'cp.form_dialog',args:{title:'修改幻灯片',refresh:'#{{ tab_id }}',srcurl:'{{ path('gsm_picshow') }}'}}">修改</a>
            {% endif %}
            {% if is_permitted('picshow', 8) %}
              <a href="{{ path('gsm_picshow_del', { id: picshow.id }) }}" class="gostedu-api" gostedu-api="{api:'cp.form_dialog',args:{title:'删除幻灯片',refresh:'#{{ tab_id }}',srcurl:'{{ path('gsm_picshow') }}'}}">删除</a>
            {% endif %}
           </td> 
       </tr>
   {% endfor %}
   </tbody>
</table>

</div>
{% endspaceless %}