{% extends 'GostSiteBundle::layout.html.twig' %}
{% block main %}
<hr noshade="noshade" style="height:1px; width:100%; margin:0; color:#C30;" />
<div id="middle">
	<div><img src="{{ asset('images/site-cooperation_banner.png') }}"  /></div>
	<div><img src="{{ asset('images/site-line.jpg') }}" /></div>
	<div class="images_position"><img src="{{ asset('images/site-enterprise_coo.png') }}"  /></div>
	<div class="images_list">这里是企业名录</div>
	<div class="images_position"><a href=""><img src="{{ asset('images/site-cilck_enterprise.png') }}" /></a></div>
	<div><img src="{{ asset('images/site-line.jpg') }}" /></div>
	<div class="images_position"><img src="{{ asset('images/site-university_coo.png') }}"  /></div>
	<div class="images_list">这里是高校名录</div>
	<div class="images_position"><a href=""><img src="{{ asset('images/site-cilck_universe.png') }}" /></a></div>
</div>
<div class="float_Clear"></div>
{% endblock %}