{% extends 'GostSiteBundle::layout.html.twig' %}
{% block main %}
<hr noshade="noshade" style="height:1px; width:100%; margin:0; color:#C30;" />
<div id="middle">
	<div><img src="{{ asset('images/nvs_banner.jpg') }}"  /></div> 
	<div class="images_position"><img src="{{ asset('images/biaoti.jpg') }}" /></div>
	<div class="three_course"><img src="{{ asset('images/know_pic.jpg') }}" /></div>
	<div><img src="{{ asset('images/line.jpg') }}" /></div>
	<div class="images_list">
	<img src="{{ asset('images/Q&A_title.jpg.jpg') }}" />
	</div>
</div>
<div class="float_Clear"></div>
{% endblock %}