{% spaceless %}
<div id="{{ tab_id }}">
  <form id="cootype_form" action="{{ action }}" method="post" class="gostedu-api" gostedu-api="{api:'ui.ajax_form'}" novalidate {{ form_enctype(form) }}>
    <table class="general_form">
      <caption>{{ title }}</caption>
      <tbody>
        <tr>
          <td><label>名称:</label></td>
          <td>{{ form_widget(form.name, { 'attr': {'class': 'validate[required]'} }) }}</td>
        </tr>
      </tbody>
    </table>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    <div class="dialog_toolbar">
      <button type="submit" class="button_save">保存</button>
      <button type="button" class="button_cancel gostedu-api" gostedu-api="{api:'ui.close_dialog'{% if not close_dialog %},args:{bind:'click'}{% endif %}}">取消</button>
      {% if is_permitted('cooperator_cootype', 8) and cootype%}
      <button type="button" class="button_delete gostedu-api" gostedu-api="{api:'cp.call_action',args:{confirm:'确定删除该文章?',action:'{{ path('gsm_cooperator_cootype_del', { id: cootype.id }) }}',close_dialog:true}}">删除</button></div>
      {% endif %}
    {{ form_rest(form) }}
  </form>
</div>
{% endspaceless %}