{% spaceless %}
<div id="{{ tab_id }}">
  <form id="funcgroup_form" action="{{ action }}" method="post" class="gostedu-api" gostedu-api="{api:'ui.ajax_form'}" novalidate>
    <table class="general_form">
      <caption>{{ title }}</caption>
      <tbody>
        <tr>
          <td><label>Key:</label></td>
          <td>{{ form_widget(group_form.key, { 'attr': {'class': 'validate[required]'} }) }}</td></tr>
        <tr>
          <td><label>标题:</label></td>
          <td>{{ form_widget(group_form.title, { 'attr': {'class': 'validate[required]'} }) }}</td></tr>
        <tr>
          <td><label>排序:</label></td>
          <td>{{ form_widget(group_form.sort) }}</td></tr>
      </tbody>
    </table>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    <div class="dialog_toolbar">
      <button type="submit" class="button_save">保存</button>
      <button type="button" class="button_cancel gostedu-api" gostedu-api="{api:'ui.close_dialog'{% if not close_dialog %},args:{bind:'click'}{% endif %}}">取消</button>
      {% if is_permitted('sys_functions', 8) and group and deleteable %}
      <button type="button" class="button_delete gostedu-api" gostedu-api="{api:'cp.call_action',args:{confirm:'确定删除此功能组?',action:'{{ path('gsm_sys_functions_delgroup', { id: group.id }) }}',close_dialog:true}}">删除</button></div>
      {% endif %}
    {{ form_rest(group_form) }}
  </form>
</div>
{% endspaceless %}