{% spaceless %}
<div id="{{ tab_id }}">
  <form id="permission_form" action="{{ action }}" method="post" class="gostedu-api" gostedu-api="{api:'ui.ajax_form'}" novalidate>
    <table class="general_form">
      <caption>{{ title }}</caption>
      <thead>
        <tr>
          <th>角色</th>
          <th>范围</th>
          <th>操作</th></tr></thead>
      <tbody>
      {% for role in roles %}
      {% set perm = perms|array_item(role.id) %}
        <tr>
          <td><nobr>{{ role.name }}</nobr></td>
          <td><select name="scope[{{ role.id }}]">
            <option value="0">个人</option>
            <option value="1"{% if perm and perm.scope == 1 %} selected="selected"{% endif %}>辖区</option>
            <option value="2"{% if perm and perm.scope == 2 %} selected="selected"{% endif %}>全局</option></select></td>
          <td><nobr>{% for action in func.actions %}
            <label><input type="checkbox" name="permissions[{{ role.id }}][]" value="{{ action.code }}"{% if perm and perm.permissions|oper_or(action.code) == perm.permissions %} checked="checked"{% endif %} /> <sup>{{ action.code }}</sup>{{ action.title }}</label>
            {% endfor %}</nobr></td></tr>
      {% endfor %}
      </tbody>
    </table>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    <div class="dialog_toolbar">
      <button type="submit" class="button_save">保存</button>
      <button type="button" class="button_cancel gostedu-api" gostedu-api="{api:'ui.close_dialog'{% if not close_dialog %},args:{bind:'click'}{% endif %}}">取消</button>
  </form>
</div>
{% endspaceless %}